body{ 
	margin:0;
	padding:0;
	min-height: 100%;
}

.BG{
	min-width: 100%
}

.invisible{
	position:absolute;
	left:36.5%;
	top:85.5%;
	width:26%;
	height: 48.5%;
	background-color: rgba(0,0,0,0);
	border:none;
	outline: none;
}

.nftvid{
	display: block;
	margin-top: auto;
	margin-bottom: auto;
 	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  }